@model HomeAddvisor.DB.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rut_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rut_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPa_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPa_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMa_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMa_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comuna.Nombre_Comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comuna.Nombre_Comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Nombre_Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Nombre_Region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
