@model HomeAddvisor.DB.Tipo_Profesional

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tipo_Profesional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Areas.Nombre_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Areas.Nombre_Area)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo_Profesional }) |
    @Html.ActionLink("Back to List", "Index")
</p>
