@model HomeAddvisor.DB.Profesional
@{
	ViewBag.Title = "Home Page";
	var ListaProfesional = ViewBag.ListaProfesional;
}

<div class="jumbotron">
	<div class="container text-center">
		<h1>HomeAddvisor</h1>
		<p>Siempre intentando mejorar tu calidad de vida</p>
	</div>
</div>

<div class="container">
	<div><p class="display-4">Aqui puedes ver todos los profesionales disponibles actualmente ligados a HomeAddvisor</p></div>
	<div class="row">
		@foreach (var p in ListaProfesional)
		{

			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						@p.Nombre_Profesional @p.ApellidoPa_Profesional

					</div>
					<div class="panel-body">
						<img class="img-thumbnail" src="@p.Imagen" style="width:100%" alt="Image" />
						<p>@p.Codigo_Profesional</p>
					</div>
					<div class="panel-body">
						<div class="col-md-offset-2 col-md-10">
							@Html.ActionLink("Solicitar el Servicio", "CreateS", "Servicios", new { ListaProfesional } )
							<input type="submit" value="Solicitar Servicio" class="btn btn-default" />
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<div>
	@Html.ActionLink("Ingrese al menu de administrador", "Index", "Menu")
</div>

