@model HomeAddvisor.DB.Deuda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Deuda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto_Deuda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto_Deuda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje_Deuda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje_Deuda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicio.Descripcion_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicio.Descripcion_Servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Deuda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
