@model IEnumerable<HomeAddvisor.DB.Deuda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Monto_Deuda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porcentaje_Deuda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.Descripcion_Servicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Monto_Deuda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porcentaje_Deuda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.Descripcion_Servicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Deuda }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Deuda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Deuda })
        </td>
    </tr>
}

</table>
