@model HomeAddvisor.DB.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clasificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Rut_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Rut_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comuna.Nombre_Comuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comuna.Nombre_Comuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deuda1.Monto_Deuda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deuda1.Monto_Deuda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesional.Rut_Profesional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesional.Rut_Profesional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Nombre_Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Nombre_Region)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Servicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
