
@{
    ViewBag.Title = "Index";
}

<h2>Menu Administrador</h2>
<div>@Html.ActionLink("Menu Administrador", "Index", "Administradors")</div>
<div>@Html.ActionLink("Menu Areas", "Index", "Areas")</div>
<div>@Html.ActionLink("Menu de Clientes", "Index", "Clientes")</div>
<div>@Html.ActionLink("Menu de Comunas", "Index", "Comunas")</div>
<div>@Html.ActionLink("Menu de Deudas", "Index", "Deudas")</div>
<div>@Html.ActionLink("Menu Profesionales", "Index", "Profesionals")</div>
<div>@Html.ActionLink("Menu Regiones", "Index", "Regions")</div>
<div>@Html.ActionLink("Menu de Servicios", "Index", "Servicios")</div>
<div>@Html.ActionLink("Menu de Tipos de Profesionales", "Index", "Tipo_Profesional")</div>