@model IEnumerable<HomeAddvisor.DB.Comuna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Comuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal_Comuna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Comuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPostal_Comuna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Comuna }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Comuna }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Comuna })
        </td>
    </tr>
}

</table>
