@model HomeAddvisor.DB.Administrador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rut_Adminsitrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rut_Adminsitrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Administrador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
